.main-product-image{
  max-width: 200px;
}

.dInline{
  display:inline!important;
  max-width: 200px;
}

.bodyNoBtn{
  height:100px;
}

.price{
  color: navy;
  font-size: 20px;
}

.product-card.col-sm-3.card.m-3 {
  min-height: 414px!important;
}

.product-card{
  border-radius: 50px 20px;
  border: 1px solid grey;
  padding: 10px;
  margin: 20px;
  text-align: center;

}

.main-product-image{
  height: 200px;
}

.category-products-block{
  text-align: center;
  margin:auto;
}

.centercenter{
  text-align: center;
  margin:auto;
}

.navbar-nav{
  display: table;
  width: 100%;
  margin: 0;
}

.navbar-nav > li{
  float:none;
  display: table-cell;
  text-align: center;
}

.container-fluid{
  max-height: 50px;
  background-color: #fdd861;
  color: black;
}

.navbar-nav a{
  color:black;
  font-size: 20px;
  cursor: pointer;
}

button{
  margin: 10px;
}
