<nav class="navbar navbar-inverse">
  <div class="container-fluid">

    <ul class="nav navbar-nav flex">
      <li><a (click)="getMilk()">Milky</a></li> |
      <li><a (click)="getBread()">Bread</a></li> |
    </ul>

  </div>
</nav>

<h1 class='text-center'>{{ theCategory }}</h1>
<!-- TODO NGIF exists productsByCat else, there is no products in this categori -->
<div class="container category-products-block">
  <div *ngIf="productsByCat">
    <div>
      <div  class='centercenter' *ngFor="let product of productsByCat">
          <div class="product-card col-sm-3 card m-3">

                <img class="card-img-top main-product-image" src="{{product.image}}" alt="Card image cap">
                <div class="card-body">
                  <div class="bodyNoBtn">
                    <h5 class="card-title">{{product.name}}</h5>
                    <div class="productId">sku: {{product.id}}</div>
                    <p class="card-text">{{product.description}}</p>
                  </div>
                  <div>
                     <!--  <p class="card-text">PRICE: {{product.price}}</p> -->
                  </div>
                  <div>
                    <p class="card-text price"><strong>Price: {{product.price}} NIS</strong></p>
                    <label>Quantity</label><br>
                    <input type="number" [(ngModel)]="product.quantity" style="width:20%;">
                  </div>
                    <button (click)="addProduct(product)" class="btn btn-success">Add to cart</button>
<!--                     <button (click)="deleteProduct(product)" class="btn btn-danger">Delete Product</button>
 -->
                </div>

          </div>
      </div>
    </div>
  </div>

</div>
